/* Media query for Mobile screens */
@media screen and (min-width: 340px) {
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
  }
  img {
    width: 80%;
  }
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
  }
  img {
    width: 50%;
    margin: 0 auto;
  }
}

/* Media query for desktops */
@media (min-width: 1024px) {
  header,
  footer {
    text-align: left;
    padding-left: 20px;
  }
  p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
  }

  img {
    width: 50%;
  }
}

footer {
  background-color: beige;
  padding: 30px 20px;
}
header {
  background-color: beige;
  text-align: center;
  font-size: 20px;
  padding: 30px 20px;
}

.footer-nav {
  text-align: center;
  font-size: 1.5em;
  padding-bottom: 10px;
}

.follow {
  text-align: center;
}

/* article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 
} */
