@import "header.css";
@import "footer.css";
@import "main.css";

header {
  grid-area: header;
}
article {
  grid-area: article;
}

main {
  grid-area: Main;
}

footer {
  grid-area: footer;
}

nav {
  grid-area: nav;
}
