/* Mobile Phone Design */

@media (max-width: 833px) {
  body {
    background-color: chocolate;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "one"
      "two"
      "three"
      "footer";
  }
  main {
    background-color: white;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "one"
      "two"
      "three";
  }
}

article {
  background-color: blue;
}

/* Tablet Design */
@media (min-width: 834px) {
  body {
    background-color: blueviolet;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "header header"
      "main   main"
      "one    two"
      "three  three"
      "footer footer";
  }
}

/* Laptop Design */
@media (min-width: 1440px) {
  body {
    background-color: aqua;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "main   main   main"
      "one    two    three"
      "footer footer footer";
  }
}

a {
  color: black;
  font-size: 24px;
  padding-left: 15px;
}

body {
  background-color: ;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "main main main"
    "one two three"
    "footer footer footer"
    "ig threads link";
}

header {
  background-color: wheat;
  padding: 45px;
  text-align: center;
  grid-area: header;
}

footer {
  background-color: wheat;
  padding: 25px;
  text-align: center;
  grid-area: footer;
}

.Main-content {
  grid-area: main;
  height: 100%;
}
.Main-content h1 {
  text-align: center;
}

.Main-content p {
  font-size: 20px;
  color: black;
}

#postone {
  grid-area: one;
  background-color: thistle;
  border-radius: 10px;
  text-align: center;
}

#postone p {
  color: black;
}

#posttwo {
  background-color: rebeccapurple;
  border-radius: 10px;
  grid-area: two;
  text-align: center;
}

#posttwo h2,
p {
  color: white;
}

#postthree {
  text-align: center;
  grid-area: three;
  background-color: red;
  border-radius: 10px;
}

#postthree p {
  color: black;
  font-size: 18px;
}

.follow {
  font-size: 20px;
  text-align: center;
}
#ig {
  padding: 20px;
}

#threads {
  padding: 120px9px;
}

#link {
  padding: 20px;
}
